# Copie este arquivo para .env e preencha os valores reais
# O arquivo .env NUNCA deve ser commitado no git

# Banco de dados
DB_USER=lucam
DB_PASSWORD=
DB_NAME=hotelariadb

# Aplicação
ASPNETCORE_ENVIRONMENT=Production
JWT_SECRET=
SEN_SITE_WEB=

# Google OAuth
GOOGLE_CLIENT_ID=

# RabbitMQ
RABBITMQ_USER=
RABBITMQ_PASSWORD=
